[
        {
            "id": 2,
            "name": "Light dimmer"
        },
        {
            "id": 3,
            "name": "Cupboard Light"
        },
        {
            "id": 4,
            "name": "Front Lights"
        },
        {
            "id": 5,
            "name": "Shed and Pond"
        }
]
